.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin: 50px auto;
  height: 30vh;
  justify-content: space-between;
}

.signup-container input {
  width: 65%;
}
